* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f3f3f3;
    font-family: sans-serif;
}
nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    margin: 0 15px;
    padding: 20px 25px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    border-radius: 20px;
}
nav ul li a:hover {
    background-color: #fad0c4;
    background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
    color: #f3f3f3;
}
nav .logo {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin: 0 30px;
}
nav .logo span {
    color: red;
}
.main-banner {
    height: 30vh;
    background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
    width: 100%;
}
.main-banner .inner-text {
    text-align: center;
    padding: 90px 20px;
}
.about-banner{
    height:100vh;
    background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
    width: 100%;
}
.about-banner .inner-text {
    text-align: center;
    padding: 90px 20px;
    padding-top: 300px;
}
.about-banner .inner-text h2{
    color: white;
}
.contact-banner{
    height:100vh;
    background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
    width: 100%;
}
.contact-banner .inner-text {
    text-align: center;
    padding: 90px 20px;
    padding-top: 300px;
}
.contact-banner .inner-text h2{
    color: white;
}
.banner {
    height: 65vh;
    background-image: linear-gradient(315deg, #e288f9 0%, #ffc988 74%);
    width: 100%;
}
.banner .inner-text {
    text-align: center;
}
.banner .inner-img {
    padding-top: 100px;
    padding-right: 100px;
}
.banner .inner-img img{
    float: right;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
.inner-text h1 {
    font-size: 3rem;
    color: #fff;
}
.inner-text p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5rem;
}
::placeholder {
    color: #555;
}
.info{
    min-height: 100vh;
    max-width: 1000px;
    margin: 50px auto;
    background: #f8f8f8;
}
.inner-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 50px;
}
.inner-info .card {
    min-height: 400px;
    max-width: 500px;
    padding: 50px;
    background: #f3f3f3;
    box-shadow: 0 10px 10px 0px rgba(0,0,0,0.5);
}
.inner-info .card img {
    border-radius: 10px;
    max-width: 200px;
}
.inner-info .card h3 {
    margin: 10px 0 10px 0;
    color: red;
}
.inner-info .card p {
    font-size: 14px;
    margin-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
}
.inner-info .card a{
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    background-color: lightcoral;
    color: white;
}
.inner-info .card a:hover{
    opacity: 0.8;
}
.info-head h1{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: center;
    font-size: 2rem;
    color: black;
}
.content h2{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.content h3{
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
}
.content ul li{
    text-align: left;
    padding-left: 50px;
    padding-bottom: 15px;
    width: 500px;
}




